﻿

@{
    ViewData["Title"] = "О проекте";
}
<h2>Создано для Вас!</h2>
<h3>Создатели:</h3>

<p>
        Авраимов Сергей <br />
        Рыбальченко Никита <br />
        Шадрин Михаил <br />
        Шершаков Александр
</p>