﻿@model IEnumerable<WebTest2.Models.Recipe>
@{
    ViewData["Title"] = "Добавление рецепта";

}

<!DOCTYPE html>
<html>
<head>
    <title>Добавление рецепта</title>
    <meta charset="UTF-8" />
    <style id="webmakerstyle">

        body {
            background-color: #f5eee0;
        }

        div.justified {
            display: flex;
            justify-content: center;
        }

        .content_box {
            margin-left: 20px;
            margin-right: 20px;
            padding-top: 10px;
        }

        .add_recipe_block {
            width: 80%;
            max-width: 800px;
            background-color: white;
            border-radius: 0.25rem;
            margin-left: 20px;
            margin-right: 20px;
            box-shadow: 0 0.0625rem 0.25rem rgba(71,44,6,0.2);
        }

        .file_container {
            background-color: #fbf8f6;
            display: block;
            margin-top: 20px;
            width: 100%;
            margin-bottom: 10px;
            cursor: pointer;
        }

        .hidden_file_container {
            display: block;
            font-size: 15rem;
            height: 0px;
            opacity: 0;
        }

        .step_file_container {
            background-color: #fbf8f6;
            display: block;
            width: 100%;
            margin-top: 20px;
            cursor: pointer;
        }

        textarea, input, select {
            display: inline-block;
            border-radius: 2px;
            border: 1px solid #e6e6e6;
            background-color: #FFF;
            border-radius: 0.25rem;
            height: 4rem;
            padding: 0 0 0 0;
            margin-left: 0px;
            overflow: hidden;
            font-family: "Open Sans", arial, sans-serif;
            font-size: 1.5rem;
            padding-left: 10px;
            margin-top: 10px;
        }

            textarea.recipe_description {
                padding: 10px;
                line-height: 1.5rem;
                height: 150px;
                width: 100%;
            }

            input.max_width_input {
                width: 100%;
            }

        .extended_box {
            background-color: #fbf8f6;
            margin-top: 20px;
            margin-left: -20px;
            margin-right: -20px;
        }

        .add_ingredient {
            border: 1px solid #d1d1d1;
            height: 4rem;
            line-height: 4rem;
            display: inline-block;
            box-sizing: border-box;
            padding: 0 1.25rem;
            color: #4c4c4c;
            text-transform: uppercase;
            border-radius: 1rem;
            cursor: pointer;
            font-family: "Open Sans", arial, sans-serif;
            font-size: 1.15rem;
            margin-bottom: 20px;
            margin-top: 10px;
        }

        .text_field {
            margin-left: 10px;
        }

        .add_step_button {
            border: 1px solid #d1d1d1;
            height: 4rem;
            line-height: 4rem;
            display: block;
            box-sizing: border-box;
            text-align: center;
            color: #4c4c4c;
            font-family: "Open Sans", arial, sans-serif;
            text-transform: uppercase;
            border-radius: 1rem;
            cursor: pointer;
            font-size: 1.15rem;
            width: 200px;
        }

        .delete_step_button {
            display: inline-block;
            box-sizing: border-box;
            background-color: transparent;
            height: 3rem;
            width: 3rem;
            margin: 0px;
            border-radius: 0.25rem;
            cursor: pointer;
            outline: 0;
            margin-right:-10px;
            float: right;
        }

        .delete_ingedient_button {
            background-color: transparent;
            height: 3rem;
            width: 3rem;
            margin: 0px;
            border-radius: 0.25rem;
            cursor: pointer;
            outline: 0;
        }

        .step {
            margin-top:10px;
        }

        .confirm_button {
            border: 1px solid #d1d1d1;
            float: right;
            margin: 20px 0 20px 0;
            height: 4rem;
            line-height: 4rem;
            display: block;
            box-sizing: border-box;
            text-align: center;
            color: #4c4c4c;
            font-family: "Open Sans", arial, sans-serif;
            border-radius: 1rem;
            text-transform: uppercase;
            background-color: transparent;
            font-size: 1.15rem;
            cursor: pointer;
            width: 150px;
        }

        label {
            font-family: "Open Sans", arial, sans-serif;
            font-size: 1.5rem;
        }

        h1 {
            color: black;
            margin-bottom: 20px;
            margin-top: 40px;
            font-family: "Open Sans", arial, sans-serif;
            font-weight: bold;
            height: 5rem;
            text-align: center;
        }

        h2 {
            display: inline-block;
            font-family: "Open Sans", arial, sans-serif;
            font-size: 1.5rem;
            font-weight: normal;
            margin-left: 10px;
            margin-top: 10px;
        }

        h4 {
            color: dimgray;
            display: inline-block;
            font-family: "Open Sans", arial, sans-serif;
            font-size: 1.5rem;
            padding-left: 10px;
            font-weight: bold;
            margin-bottom: 0px;
        }

        pre {
            font-family: "Open Sans", arial, sans-serif;
            font-size: 1.5rem;
            background-color: transparent;
            padding: 0px;
            margin: 20px 0 0 0;
            border: 0px;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

            /* Hide default HTML checkbox */
            .switch input {
                display: none;
            }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 30px;
                width: 30px;
                left: 2px;
                bottom: 2px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 3rem;
        }

            .slider.round:before {
                border-radius: 3rem;
            }
        a.back {
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
            -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
            color: #fff;
            display: block;
            width: 100px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            padding: 8px 16px;
            margin: 20px auto;
            text-decoration: none;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: background-color 0.1s linear;
            -moz-transition: background-color 0.1s linear;
            -o-transition: background-color 0.1s linear;
            transition: background-color 0.1s linear;
        }

        a.back {
            background-color: dimgray;
            border: 1px solid dimgray;
        }

            a.back:hover {
                background-color: gray;
            }
    </style>
</head>
<body>

    <form asp-action="AddRecipe" asp-controller="home" method="post" enctype="multipart/form-data">
        <a href="#" onclick="history.back();" class="back" style="float:left">Назад</a>
        <br /><br /><br />
        <h1>Новый рецепт</h1>
        <div class="justified">
            <div class="add_recipe_block">
                <div class="content_box">
                    <!--Добавление названия рецепта-->
                    <input type="text" class="max_width_input" placeholder="Название рецепта" name="name" />

                    <!--Добавление фото рецепта-->
                    <label class="file_container">
                        <input class="hidden_file_container" type="file" accept="image/*" onchange="loadFile(0)" name="image" />
                        <img id="output0" src="~/images/ic_upload_photo.png" style="width:100%;" />
                    </label>

                    <!--Добавление описания рецепта-->
                    <div class="justified">
                        <textarea class="recipe_description" type="text" placeholder="Описание" name="description"></textarea>
                    </div>

                    <!--Добавление времени приготовления рецепта-->
                    <div style="margin-top:20px">
                        <div style="display:inline-block;">
                            <h4>Время приготовления:</h4>
                            <div>
                                <h2>
                                    <input type="text" name="hours" style="width:50px" />
                                    &nbsp&nbspч.&nbsp&nbsp
                                    <input type="text" name="minutes" style="width:50px" />
                                    &nbsp&nbspмин.
                                </h2>
                            </div>
                        </div>
                        <div style="display:inline-block; margin-left:50px">
                            <h4>Количество персон:</h4>
                            <div>
                                <h2>
                                    <input type="text" name="portionAmount" style="width:50px" />
                                    &nbsp&nbspчеловек
                                </h2>
                            </div>
                        </div>
                    </div>

                    <!--Слайдер (TODO: передавать значение из формы) -->
                    <div>
                        <h4>Виден другим пользователям:</h4>
                        <div style="margin-left:10px; margin-top:10px; ">
                            <label class="switch">
                                <input type="checkbox" name="visibility" />
                                <span class="slider round" />
                            </label>
                        </div>
                    </div>
                    <!--Динамическое добавление ингредиентов-->
                    <div class="extended_box">
                        <div class="content_box">
                            <h4>Укажите ингредиенты</h4>
                            <div id="ingredientList" style="margin-top:10px;">
                                <div>
                                    <input class="text_field" type="text" name="mainIngredientsList[0].Ingredient.Name" placeholder='Название' />
                                    <input class="text_field" type="text" name="mainIngredientsList[0].Amount" placeholder='Кол-во' style="width:7rem;margin-left:6px;" />
                                    <select Attribute name="mainIngredientsList[0].Type" class="text_field" style="margin-left:7px;">
                                        <option Attribute>грамм</option>
                                        <option Attribute>килограмм</option>
                                        <option Attribute>штук</option>
                                        <option Attribute>долек</option>
                                    </select>
                                    <img class='delete_ingedient_button' onclick='deleteIngredient(this)' onmouseout="turnGray(this)" onmouseover="turnRed(this)" src="~/images/ic_delete_ingredient.png"/>
                                </div>
                            </div>
                            <a class="add_ingredient" onclick="addIngredient()">Добавить ингредиент</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br />
        <div class="justified">
            <div class="add_recipe_block">
                <div class="content_box">
                    <!--Добавление шагов рецепта-->
                    <div id="stepList">
                        <div class="step">
                            <h4 class="step_number">1 шаг</h4>
                            <img class='delete_step_button' onclick='deleteStep(this)' onmouseout="turnCloseGray(this)" onmouseover="turnCloseRed(this)" src="~/images/ic_close.png" />
                            <!--Добавление фото шага-->
                            <label class='step_file_container'>
                                <input id='image0' type='hidden' name='imageExist' value='0' />
                                <input class='hidden_file_container' type='file' accept='image/*' onchange='loadFile(1)' name='stepImages' />
                                <img id='output1' src='~/images/ic_upload_photo.png' style='width:100%;' />
                            </label>

                            <!--Добавление описания шага-->
                            <div class="justified">
                                <textarea class="recipe_description" type="text" placeholder="Описание шага" name="stepDescriptions"></textarea>
                            </div>
                            <div class="extended_box">
                                <!--Динамическое добавление ингредиентов в шаге-->
                                <div class="content_box">
                                    <div id="ingredientListInStep0">
                                        <div class="ingredientInStep">
                                            <h4>Используемые ингредиенты</h4>
                                            <div style='margin-top:10px;'>
                                                <input type="hidden" name="stepIngredientList.Index" value="0" />
                                                <input type="hidden" name="stepIngredientList[0].Id" value="0" />
                                                <input class="text_field" type="text" name="stepIngredientList[0].Ingredient.Name" placeholder="Название" />
                                                <input class="text_field" type="text" name="stepIngredientList[0].Amount" placeholder="Кол-во" style="width:7rem;margin-left:6px;" />
                                                <select Attribute name="stepIngredientList[0].Type" class="text_field" style="margin-left:6px;">
                                                    <option Attribute>грамм</option>
                                                    <option Attribute>килограмм</option>
                                                    <option Attribute>штук</option>
                                                    <option Attribute>долек</option>
                                                </select>
                                                <img class='delete_ingedient_button' onclick='deleteIngredient(this)' onmouseout="turnGray(this)" onmouseover="turnRed(this)" src="~/images/ic_delete_ingredient.png" />
                                            </div>
                                        </div>
                                    </div>
                                    <a class="add_ingredient" onclick="addIngredients2Step(0)">Добавить ингредиент</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br />
        <!--Динамическое добавление шагов-->
        <div class="justified">
            <a class="add_step_button" onclick="addStep()">Добавить шаг</a>
        </div>
        <br><br />
        <div class="justified">
            <div class="add_recipe_block" style="background-color: #fbf8f6;">
                <div class="content_box">
                    <!--Добавление тэгов (TODO: сделать более удобную реализацию, вместо "Введите через запятую") -->
                    <div>
                        <h4> Добавьте тэги:</h4>
                        <div><input class="max_width_input" type="text" name="tags" placeholder="Введите через запятую" /></div>
                    </div>
                    <!--Публикация рецепта-->
                    <input class="confirm_button" type="submit" value="Опубликовать" />
                </div>
            </div>
        </div>
    </form>
</body>
</html>

@section Scripts {
    <script>
        var mainIngr = 0;
        function addIngredient() {
            mainIngr++;
            var html2Add =
                "<div><input class='text_field' type='text' name='mainIngredientsList[" + mainIngr + "].Ingredient.Name' placeholder='Название'/>" +
                "<input class='text_field' type='text' name='mainIngredientsList[" + mainIngr + "].Amount' placeholder='Кол-во' style='width: 7rem;'/>" +
                "<select Attribute name='mainIngredientsList[" + mainIngr + "].Type' class='text_field'>" +
                "<option Attribute>грамм</option>" +
                "<option Attribute>килограмм</option>" +
                "<option Attribute>штук</option>" +
                "<option Attribute>долек</option></select>" +
                "<img class='delete_ingedient_button' onclick='deleteIngredient(this)' onmouseout='turnGray(this)' onmouseover='turnRed(this)' src='/images/ic_delete_ingredient.png' style='margin-left:3px;'/></div>";
            $('#ingredientList').append(html2Add);
        }
    </script>

    <script>
        var ingrCount = 0;
        var stepCount = 0;
        function addStep() {
            stepCount++;
            ingrCount++;
            var currIndex = stepCount * 100 + ingrCount;
            var html2Add = "<div class='step'>" +
                "<h4 class='step_number'>" + (stepCount + 1) + " шаг</h4>" +
                "<img class='delete_step_button' onclick='deleteStep(this)' onmouseout='turnCloseGray(this)' onmouseover='turnCloseRed(this)' src='/images/ic_close.png' />" +
                "<label class='step_file_container'>" +
                "<input id='image" + stepCount + "' type='hidden' name='imageExist' value='0' />" +
                "<input class='hidden_file_container' type= 'file' accept='image/*' onchange='loadFile(" + (stepCount + 1) + ")' name= 'stepImages' />" +
                "<img id='output" + (stepCount + 1) + "' src = '/images/ic_upload_photo.png' style='width:100%; height:100%;' /></label>" +
                "</label>" +
                "<div class='justified'>" +
                "<textarea class='recipe_description' type= 'text' name= 'stepDescriptions' placeholder='Описание шага'>" +
                "</textarea></div> " +
                "<div class='extended_box'>" +
                "<div class='content_box'>" +
                "<div id='ingredientListInStep" + stepCount + "'>" +
                "<div class='ingredientInStep'> " +
                "<h4>Используемые ингредиенты</h4><div style='margin-top:10px;'>" +
                "<input type='hidden' name='stepIngredientList.Index' value='" + currIndex + "'/>" +
                "<input type='hidden' name='stepIngredientList[" + currIndex + "].Id' value='" + currIndex + "' />" +
                "<input class='text_field' type='text' name='stepIngredientList[" + currIndex + "].Ingredient.Name' placeholder='Название'/>" +
                "<input class='text_field' type='text' name='stepIngredientList[" + currIndex + "].Amount'  placeholder='Кол-во' style='width: 7rem;'/>" +
                "<select Attribute name='stepIngredientList[" + currIndex + "].Type' class='text_field'>" +
                "<option Attribute>грамм</option>" +
                "<option Attribute>килограмм</option>" +
                "<option Attribute>штук</option>" +
                "<option Attribute>долек</option>" +
                "</select>" +
                "<img class='delete_ingedient_button' onclick='deleteIngredient(this)' onmouseout='turnGray(this)' onmouseover='turnRed(this)' src='/images/ic_delete_ingredient.png' style='margin-left:3px;'/>" +
                "</div></div></div><a class='add_ingredient' onclick='addIngredients2Step(" + stepCount + ")'>Добавить ингредиент</a>" +
                "</div></div></div>";
            $('#stepList').append(html2Add);
        }
    </script>


    <script>
        function addIngredients2Step(currStep) {
            ingrCount++;
            var currIndex = stepCount * 100 + ingrCount;
            var html2Add = "<div class='ingredientInStep'>" +
                "<input type='hidden' name='stepIngredientList.Index' value='" + currIndex + "'/>" +
                "<input type='hidden' name='stepIngredientList[" + currIndex + "].Id' value='" + currIndex + "' />" +
                "<input class='text_field' type='text' name='stepIngredientList[" + currIndex + "].Ingredient.Name' placeholder='Название'/>" +
                "<input class='text_field' type='text' name='stepIngredientList[" + currIndex + "].Amount' placeholder='Кол-во' style='width: 7rem;'/>" +
                "<select Attribute name='stepIngredientList[" + currIndex + "].Type' class='text_field'>" +
                "<option Attribute>грамм</option>" +
                "<option Attribute>килограмм</option>" +
                "<option Attribute>штук</option>" +
                "<option Attribute>долек</option>" +
                "</select>" +
                "<img class='delete_ingedient_button' onclick='deleteIngredient(this)' onmouseout='turnGray(this)' onmouseover='turnRed(this)' src='/images/ic_delete_ingredient.png' style='margin-left:3px;'/>" +
                "</div></div>";
            $("#ingredientListInStep" + currStep).append(html2Add);
        }
    </script>

    <script>
        function deleteStep(x) {
            x.parentElement.parentElement.removeChild(x.parentElement);
            stepCount--;
            var length = document.getElementsByClassName("step").length;
            for (var l = 0; l < length; l++)
                document.getElementsByClassName("step_number")[l].textContent = (l+1) + " шаг";
        }
    </script>

    <script>
        function deleteIngredient(x) {        
            x.parentElement.parentElement.removeChild(x.parentElement);
        }
    </script>

    <script>
        function loadFile(n) {
            var output = document.getElementById('output' + n);
            output.src = URL.createObjectURL(event.target.files[0]);
            document.getElementById("image" + (n - 1)).value = "1";
        };
    </script>

    <script>
        function turnRed(x) {
            x.src = "/images/ic_delete_ingredient_red.png";
        };

        function turnGray(x) {
            x.src = "/images/ic_delete_ingredient.png";
        }

        function turnCloseRed(x) {
            x.src = "/images/ic_close_red.png";
        };

        function turnCloseGray(x) {
            x.src = "/images/ic_close.png";
        }
    </script>
    

}