﻿@model WebTest2.Models.Recipe
@{
    ViewBag.Title = "Тайтл";
}
<form asp-action="AddRecipe2" asp-controller="home" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название рецепта:</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Rating" class="control-label">Рейтинг:</label>
        <input type="number" asp-for="Rating" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Minutes" class="control-label">Время приготовления:</label>
        <input type="number" asp-for="Minutes" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-default" />
    </div>
</form>