﻿@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Москва<br />
    Зеленоград<br />
    МИЭТ<br />
    <abbr title="Phone">Номер телефона:8(999)999-99-99</abbr>
</address>

<address>
    <strong>Поддержка:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Реклама:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
