﻿@model IEnumerable<WebTest2.Models.Recipe>
@{
    ViewData["Title"] = "Все наши рецепты";
}

<style>
    body {
        background-color: #f5eee0;
    }

    div.justified {
        display: flex;
        justify-content: center;
    }

    .content_box {
        padding: 10px;
        text-align: center;
    }

    .data_block {
        width: 82%;
        max-width: 1400px;
        background-color: #fbf8f6;
        border-radius: 0.25rem;
        box-shadow: 0 0.0625rem 0.25rem rgba(71,44,6,0.2);
    }

    .button_card {
        background: transparent;
        border: none;
        height: 400px;
        width: 280px;
        margin: 10px;
        border-radius: 0.5rem;
        background-color: white;
        cursor: pointer;
        outline: 0;
        box-shadow: 0 0.0625rem 0.25rem rgba(71,44,6,0.2);
    }

    button img {
        width: 100%;
        height: 74%;
        overflow: hidden;
        margin:0 -40px 0 -40px;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .name_box {
        display: block;
        font-family: "Open Sans", arial, sans-serif;
        font-size: 2.5rem;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        font-weight: 700;
        text-align: left;
    }

    .description_box {
        display: block;
        font-family: "Open Sans", arial, sans-serif;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 1.25rem;
        text-align: left;
        width: 100%;
    }

    .date_box {
        display: block;
        font-family: "Open Sans", arial, sans-serif;
        font-size: 1rem;
        font-style: italic;
        margin-top: 10px;
        margin-right: 20px;
        text-align: right;
    }

    h1 {
        color: black;
        margin-bottom: 20px;
        margin-top: 40px;
        font-family: "Open Sans", arial, sans-serif;
        font-weight: bold;
        height: 5rem;
        text-align: center;
    }

    .searchTextBox{
        width: 700px;
        
    }
    a.add {
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
        color: #fff;
        display: block;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        padding: 8px 16px;
        margin: 20px auto;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: background-color 0.1s linear;
        -moz-transition: background-color 0.1s linear;
        -o-transition: background-color 0.1s linear;
        transition: background-color 0.1s linear;
    }

    a.add {
        background-color: dimgray;
        border: 1px solid dimgray;
    }

        a.add:hover {
            background-color: gray;
        }






</style>
<body>
    <form asp-action="Index" asp-controller="home" method="post" enctype="multipart/form-data">
        <a href="~/Home/AddRecipe" class="add" style="float:right">Добавить рецепт</a>
        <br /><br /><br />
        <p>
            @using (Html.BeginForm())
            {
            <p>
                <center>
                    <h2>Поиск рецептов</h2><br />
                    <input type="text" name="searchString" class="searchTextBox"
                           placeholder="При вводе нескольких ингредиентов используйте символы-разделители (,  .  ;  |)" />
                    <input type="submit" value="Искать" /> <br />
                    <input type="radio" name="searchOption" value="recipeName" checked="checked" onclick="searchOption">
                    По названию рецепа
                    <input type="radio" name="searchOption" value="ingredientName" onclick="searchOption">
                    По ингредиентам
                </center>
            </p>
            }
            </p>
            <h1>Все рецепты</h1>
            <div class="justified">
                <div class="data_block">
                    <div class="content_box">
                        @foreach (var recipe in Model)
                        {
                            <form method="post" action="~/Home/ShowRecipe" style="display:inline-block;">
                                <button type="submit" class="button_card">
                                    
                                            <img src=@recipe.Photo.Path />
                                     

                                    @if (@recipe.Name.Length < 18) {
                                    <div class="name_box">@recipe.Name</div>
} else if (@recipe.Name.Substring(0, recipe.Name.IndexOf(" ")).Length < 18) {
    <div class="name_box">@recipe.Name.Substring(0, recipe.Name.IndexOf(" "))</div>
} else {
                                        <div class="name_box">@recipe.Name.Substring(0, 15)...</div>
}
                                    @if (@recipe.Description.Length < 35) {
                                        <div class="description_box">@recipe.Description</div>
} else {
                                        <div class="description_box">@recipe.Description.Substring(0, 32)...</div>
}
                                   
                                    <div class="date_box">@recipe.Date.Substring(6, 2).@recipe.Date.Substring(4, 2).@recipe.Date.Substring(0, 4)</div>
                                </button>
                                <input type="hidden" name="Id" value="@recipe.Id" />
                            </form>
                        }
                    </div>
                </div>
            </div>
        </form>
</body>
