﻿@model WebTest2.Models.Recipe
@{
    ViewData["Title"] = "Просмотр рецепта";
}

<style>
    body {
        background-color: #f5eee0;
    }

    div.justified {
        display: flex;
        justify-content: center;
    }

    .content_box {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
    }

    .data_block {
        width: 80%;
        max-width: 800px;
        background-color: white;
        border-radius: 0.25rem;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: 0 0.0625rem 0.25rem rgba(71,44,6,0.2);
    }

    .max_width_input {
        display: inline-block;
        border-radius: 2px;
        background-color: #FFF;
        border-radius: 0.25rem;
        height: 4rem;
        padding: 0 0 0 0;
        margin-left: 0px;
        overflow: hidden;
        font-family: "Open Sans", arial, sans-serif;
        font-size: 2.5rem;
        padding-left: 10px;
        margin-top: 10px;
        width: 100%;
    }

    article img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .card {
        display: inline-block;
        height: 500px;
        width: 100%;
        border-radius: 0.5rem;
        background-color: white;
        cursor: pointer;
    }

    .recipe_description {
        padding: 10px;
        line-height: 1.5rem;
        width: 100%;
        border: 0px;
    }

    h2 {
        font-family: "Open Sans", arial, sans-serif;
        font-size: 1.5rem;
        font-weight: normal;
    }

    h4 {
        margin-top: 10px;
        margin-bottom: 0px;
        font-family: "Open Sans", arial, sans-serif;
        font-size: 1.5rem;
        font-weight: 600;

    }

    pre {
        font-family: "Open Sans", arial, sans-serif;
        font-size: 1.5rem;
        font-weight: 100;
        background-color: transparent;
        margin: 0px;
        border: 0px;
        padding-left: 0px;
    }

    .text_field {
        width: 200px;
        margin-right: 10px;
    }

    .ingredient_box {
        font-family: "Open Sans", arial, sans-serif;
        font-size: 1.5rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .extended_box {
        background-color: #fbf8f6;
        margin-left: -20px;
        margin-right: -20px;
    }

    h1 {
        color: black;
        margin-bottom: 20px;
        margin-top: 40px;
        font-family: "Open Sans", arial, sans-serif;
        font-weight: bold;
        height: 5rem;
        text-align: center;
    }
    a.back {
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
        color: #fff;
        display: block;
        width: 100px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        padding: 8px 16px;
        margin: 20px auto;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: background-color 0.1s linear;
        -moz-transition: background-color 0.1s linear;
        -o-transition: background-color 0.1s linear;
        transition: background-color 0.1s linear;
    }

    a.back {
        background-color: dimgray;
        border: 1px solid dimgray;
    }

    a.back:hover {
        background-color: gray;
    }
</style>
<body>
    <a href="#" onclick="history.back();" class="back" style="float:left">Назад</a>
    <br /><br /><br />
        <h1>Рецепт</h1>
        <div>
            <div class="justified">
                <div class="data_block">
                    <div class="content_box" >
                        <div class="max_width_input" />@Model.Name
                    </div>
                    <article class="card">
                        <img src=@Model.Photo.Path />
                    </article>
                    <div class="recipe_description">
                        <h4>Описание</h4>
                        <pre>
@Model.Description
</pre>
                    </div>
                    <div style="display:inline-block;">
                        <div class="recipe_description">
                            <h4>Время приготовления:</h4>
                            <h2>
                                @Math.Floor(Model.Minutes / 60.0)
                                &nbsp&nbspч.&nbsp&nbsp
                                @(Model.Minutes % 60)
                                &nbsp&nbspмин.
                            </h2>
                        </div>
                    </div>
                    <div style="display:inline-block; margin-left:20px">
                        <div class="recipe_description">
                            <h4>Количество персон:</h4>
                            <h2>
                                @Model.PortionAmount
                                &nbsp&nbspчеловек
                            </h2>
                        </div>
                    </div>
                    @if (@Model.IngredientList.Count != 0)
                    {
                        <div class="extended_box">
                            <div class="content_box">
                                <div class="recipe_description">
                                    <h4>Ингредиенты</h4>
                                    <div id="ingredientList">
                                        @foreach (var ingredient in Model.IngredientList)
                                        {<div class="ingredient_box">@ingredient.Ingredient.Name &nbsp @ingredient.Amount @ingredient.Type</div>}
                                    </div>
                                </div>
                            </div>
                        </div>}
                </div>
            </div>
        </div>
        <br>
        @if (@Model.Steps.Count != 0)
        {
            <div>
                <div class="justified">
                    <div class="data_block">
                        <div class="content_box">
                            <div id="stepList">
                                @for (int i = 0; i < Model.Steps.Count; i++)
                                {
                                    <div class="step">
                                        <h4>@(i + 1) шаг</h4>
                                        <br>
                                        <article class="card">
                                            <img src=@Model.Steps[i].Image.Path />
                                        </article>
                                        @if (@Model.Steps[i].Description != null)
                                        {
                                            <div class="recipe_description">
                                                <h4>Описание шага</h4>
                                                <pre>
@Model.Steps[i].Description
</pre>
                                            </div>
                                        }
                                        @if (@Model.Steps[i].Ingredients.Count != 0)
                                        {
                                            <div class="extended_box">
                                                <div class="content_box">
                                                    <div class="recipe_description">
                                                        <h4>Ингредиенты</h4>
                                                        <div id="ingredientList">
                                                            @foreach (var ingredient in Model.Steps[i].Ingredients)
                                                            {<div class="ingredient_box">@ingredient.Ingredient.Name &nbsp @ingredient.Amount @ingredient.Type</div>}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
</body>





