﻿@model SetPasswordViewModel
@{
    ViewData["Title"] = "Изменить пароль";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<h4>Установите пароль</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<p class="text-info">
    У вас нет логина / пароля для этого сайта. Добавив аккаунт,
    вы сможете войти без внешнего аккаунта.
</p>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword">Новый пароль</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Подтвердите пароль</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">ОК</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
