﻿@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Регистрация";
}

<h2>@ViewData["Title"]</h2>
<h4>Свяжите ваш @ViewData["LoginProvider"] аккаунт.</h4>
<hr />

<p class="text-info">
    Вы успешно авторизовались с помощью <strong>@ViewData["LoginProvider"]</strong>.
    Введите пожалуйста Ваш email адрес, чтобы закончить регистрацию.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Зарегистрироваться</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
